img {
    height: 50px;
    width: 50px;
}

.container {
    margin: 0px;
    background-color: aquamarine;
    padding-bottom: 50px;
}

.jumbotron {
    background-color: purple;
    color: gold;
    width: 100%;
}
.card {
    background-color: skyblue;
    font-weight: bold;
}